<html>
<head>

<title>{% block title %}
{% endblock %}</title>
{% block head %}
{% endblock %}
<body background="../static/bg.jpg">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<link rel="icon" href="../static/home.jpg">
<link rel="stylesheet" type="text/css" href="../static/hobbies.css">
</head>


<link rel="icon" href="../static/home.jpg">
<link rel="stylesheet" type="text/css" href="../static/hobbies.css">
<ul>
  <li><img src="../static/amin.jpg" width=200px height=200px></li>
  <li><a href="index.html">Home</a></li>
  <li><a href="hobbies.html">Hobbies</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="contact.html">Contact</a></li>
  <li><a href="projects.html" class="">Projects</a></li>
</ul>
<br>
</body>
{% block body %}{% endblock %}
</html>
